ion-menu ion-list{ padding-top: 0; }

ion-menu ion-list-header{ height: 55px; margin-bottom: 30px;}

ion-menu ion-item ion-icon{ padding-left: 40px; }

ion-menu .mat-raised-button {
    color: #fff;
    background-color: #a22424de;
}