ion-menu ion-list{ padding-top: 0; background-color: transparent;}

ion-menu ion-list-header{ height: 55px; margin-bottom: 10px;}

ion-menu ion-item ion-icon{ font-size: 1.5em; padding-left: 20px; margin-right: 15px; color: #a22424;}
ion-menu ion-item ion-label{ font-size: 1.5em; color: #a22424;font-weight: 500;}

ion-menu .mat-raised-button {
    color: #fff;
    background-color: #a22424de;
    margin-left: 25px;
    margin-top: 20px;
}