ion-menu ion-list{ padding-top: 0; }

ion-menu ion-list-header{ height: 55px; margin-bottom: 10px;}

ion-menu ion-item ion-icon{ padding-left: 20px; }
ion-menu ion-item ion-label{ color: #a22424 }

ion-menu .mat-raised-button {
    color: #fff;
    background-color: #a22424de;
    margin-left: 25px;
    margin-top: 20px;
}