.mat-card{max-width: 900px;}

form{display: flex; flex-direction: column;}

.mat-raised-button{color: #fff;  background-color: #a22424de; max-width: 100px;  margin-top: 10px; margin: auto;}

.mat-error{font-size: 13px;}

