<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modifier votre mot de passe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-card>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <mat-form-field>
                <input matInput type="password" placeholder="Votre mot de passe" formControlName="oldPasswordFormControl" required>
              </mat-form-field>
              <mat-error *ngIf="oldPasswordFormControl.hasError('pattern') && !oldPasswordFormControl.hasError('required')">
                  Veuillez indiquer un mot de passe <strong>d'au moins 6 caractères</strong>
              </mat-error>
              <mat-form-field>
                  <input matInput type="password" placeholder="Votre nouveau mot de passe" formControlName="newPasswordFormControl" required>
              </mat-form-field>
              <mat-error *ngIf="newPasswordFormControl.hasError('pattern') && !newPasswordFormControl.hasError('required')">
                  Veuillez indiquer un mot de passe <strong>d'au moins 6 caractères</strong>
              </mat-error>
              <mat-form-field>
                  <input matInput type="password" placeholder="Confirmer votre nouveau mot de passe" formControlName="newPasswordConfirmationFormControl" required>
              </mat-form-field>
              <mat-error *ngIf="newPasswordConfirmationFormControl.hasError('pattern') && !newPasswordConfirmationFormControl.hasError('required')">
                  Veuillez indiquer un mot de passe <strong>d'au moins 6 caractères</strong>
              </mat-error>
            <button mat-raised-button [disabled]="changePasswordForm.invalid"
                type="submit">Valider
            </button>
          </form>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
