/* Toolbar */
.toolbar-title{display: flex; flex-wrap: nowrap;}
ion-title{max-width: 80%;}

/* Image */
.banner{max-height: 250px;}
.banner img{
    clip-path: polygon(0px 0px, 100% 0, 100% 250px, 0px 250px); 
    width: 100%;
    height: inherit;
}

/* Indication nbr de personnes et points */
.plus-recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;  
    margin-top: 5px;
}

.peoples{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    margin-bottom: 10px;
}

.peoples .plus{
    padding: 7px 11px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.3em;
    background-color: #a22424de;
    color: #fff;
    cursor: pointer;
}

.peoples .minus{
    padding: 7px 14px;
    font-size: 1.3em;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #a22424de;
    color: #fff;
    cursor: pointer;
}

.peoples .number{
    display: flex;
    flex-wrap: nowrap;
    border: 0.5px solid;
    border-color: #c96161dc;
    font-size: 1.3em; 
    padding: 6px 14% 6px 18%;
}

.peoples .number i{padding-top: 3.5px;}

.plus-recipe .points{
    width: 75%;
    background-color: #a22424de;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 20px; 
    text-align: center;
    font-size: 20px;
}

.plus-recipe .points span:first-child{font-size: 2.5em;}

/* Header de la liste des ingrédients */
.recipe-info{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.recipe-info .list-ingredients-container{width: 80%;  margin-left: 35px;}
.recipe-info .header-row {padding-left: 6%;}
.recipe-info .header-row span.quantity{position: absolute; left: 30%}
.recipe-info .header-row span.points{position: absolute; right: 32%;}


/* Liste des ingrédients */
.recipe-info .list-ingredients{margin-top: 50px;}
.recipe-info .list-ingredients .ingredient-single{margin-top: 5px; margin-bottom: 10px; padding: 10px 25px; border-radius: 30px; background-color: #dedede;}
.ingredient-single .ingredient{display: inline;}
.ingredient-single .ingredient span{display: inline-block; max-width: 30%;}
.ingredient-single .thumbnail{border-radius: 50%; margin-right: 10px;}

.list-ingredients span.quantity{
    position: absolute;
    display: inline-block;
    max-width: 20%;
    left: 30%; 
    padding-top: 8px;
}

.recipe-info .list-ingredients span.points{
    position: absolute;
    right: 32%;
    padding-top: 8px;
    font-weight: bold;
}


.recipe-info .mat-divider-horizontal{
    border-top-width: 7px;
    border-color: #a22424de;
    margin-top: 10px;
    width: 80%;
}


 /****************************** RESPONSIVE ********************************/

@media (min-width: 1300px){
    .peoples .number{min-width: 90px;}
 }

@media (max-width: 1300px){
   .header-row span.ingredient, .list-ingredients span.ingredient{
        position: relative; 
        width: 5%;
    }
    .header-row span.quantity, .list-ingredients span.quantity{position: absolute; left: 40%}

    .peoples .number{padding: 6px 10%;}
}

@media (max-width: 900px){
    .mat-divider-horizontal { width: 80%; }
    .list-ingredients span.quantity{ max-width: 15%; }

    .peoples .number{padding: 6px 5%;}

}

@media (max-width: 800px){ 
    .banner h2{top: 150px} 
}

@media (max-width: 650px){
     .mat-divider-horizontal { width: 79%; }
     .list-ingredients-container{ margin-left: 0; }

     .header-row span.quantity,  .list-ingredients span.quantity{left: 42%;}
}

@media (max-width: 600px){ 
     .mat-divider-horizontal { width: 78%; }

     .peoples {
        flex-direction: column-reverse;
        width: 70%;
    }
     .peoples .plus{
        border-bottom-right-radius: 0;
        border-top-left-radius: 4px;
        text-align: center;
    }

     .peoples .number {
        padding: 6px 20%;
    }

     .peoples .minus{
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0;
        text-align: center;
    }

     .list-ingredients span.points{ right: 35% }

     .plus-recipe .points{
        width: 95%;
        margin-left: 10px;
    }

     .plus-recipe .points span:first-child {
        font-size: 1.7em;
    }

     .plus-recipe .edit-recipe{ margin-right: 1px; }
     .plus-recipe .delete-recipe{ margin-left: 1px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    .banner h2{top: 220px}
}


@media (min-width: 600px) and (max-width: 800px){
    .banner h2{top: 180px}
} 