.photo-container{text-align: center;}
.photo-container button{
    border: black 1px solid;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
}
.photo-container button:active{background-color: #a22424de;}

img{max-width: 100%;}

ion-icon{
    font-size: 25px; 
    margin: 10px;
}

.mat-progress-spinner{ margin: auto; }
::ng-deep .mat-progress-spinner circle, .mat-spinner circle{ stroke: #a22424de; }

.addIngredientForm{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.mat-form-field{ margin-bottom: 10px; width: 90%; }
.placeholder{ font-size: 14px !important; }
.mat-focused .placeholder{ color: blue; }

.mat-raised-button {color: #fff; background-color: #a22424de; margin-top: 5px; width: 45%;}