/************ PHOTO ************/

.photo-container{text-align: center;}
.photo-container button{
    border: black 1px solid;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    outline: none;
}
.photo-container button:active{background-color: #a22424de;}
.photo-container img{max-width: 100%;}

/********** SELECTION PHOTO ***********/
ion-icon{font-size: 25px; margin: 10px;}

/*********** FORMULAIRE *************/
.addIngredientForm{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.placeholder{ font-size: 14px !important; }
.mat-focused .placeholder{ color: blue; }
.mat-form-field{ margin-bottom: 10px; width: 90%; }

.mat-progress-spinner{ margin: auto; }
::ng-deep .mat-progress-spinner circle, .mat-spinner circle{ stroke: #a22424de; }

.mat-raised-button {color: #fff; background-color: #a22424de; margin-top: 25px; width: 45%;}




