h2, p{font-weight: 300;}

span.separate{
    background-color: #000;
    display: block;;
    margin-bottom: 50px;
    width: 90px;
    height: 1px;
 }
 
.mat-card{margin-top: 40px;}

.mat-raised-button{max-width: 100px; margin-left: 5px; color: #fff;  background-color: #a22424de;}

p.text-danger{margin-top: 15px;}