<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Réinitialiser le mot de passe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-card>
          <p>Indiquez votre adresse mail : </p>
          <form [formGroup]="recoverPasswordForm" (ngSubmit)="sendRecoverPasswordEmail()">
            <mat-form-field>
              <input matInput placeholder="Adresse email" formControlName="email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Veuillez indiquer une <strong>adresse mail correcte</strong>
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Veuillez indiquer une adresse mail
              </mat-error>
            </mat-form-field>
            <br/>
          <button  mat-raised-button [disabled]="recoverPasswordForm.invalid" type="submit">Valider</button>
          <p class="text-danger">{{ info }}</p>
        </form>
      </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
